<div>
  <% unless @chatroom.nil? %>
    <h1><%= @chatroom.topic %></h1>

    <div>
      <% if @chatroom.messages.any? %>
          <div id="messages">
            <%= render partial: 'messages/one_message', collection: @chatroom.messages%>
          </div>
      <% else %>
          <div id="messages">
          </div>
      <% end %>
    </div>

    <%= render 'messages/message_form' %>
  <% end %>

</div>
